
<header class="menu">

  <div class="top-bar">
    <div class="container">


    <div class="logo-area">
        <img src="assets/logo.png" alt="Logo">
    </div>

    <div class="search-area">
      <input type="text" placeholder="O que você está procurando?" />
    </div>

    <div class="user-area">
      <div class="user-text">
        <span>Bem-vindo!</span>
        <a href="#">Entre ou cadastre-se</a>
      </div>

      <div class="icons">
        <img src="assets/image 2.png" alt="user">
        <img src="assets/image 3.png" alt="favoritos">
        <img src="assets/image 4.png" alt="carrinho">
      </div>
    </div>
    </div>

  </div>

  <nav class="menu-bar">
    <ul class="menu-links container">
      <li><a href="#">Ofertas</a></li>
      <li><a href="#">Novidades</a></li>
      <li><a href="#">Feminino</a></li>
      <li><a href="#">Masculino</a></li>
      <li><a href="#">Beleza e perfume</a></li>
      <li><a href="#">Jeans</a></li>
      <li><a href="#">Unissex/Lifestyle</a></li>
      <li><a href="#">Moda íntima</a></li>
    </ul>
  </nav>

  <div class="banner">
    <div class="carousel" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
      <ng-container *ngFor="let slide of slides; let i = index">
        <div class="slide" [class.active]="i === currentIndex" [style.background-image]="'url(' + slide.url + ')'">
        </div>
      </ng-container>

      <div class="carousel-content">
        <div class="carousel-text">
          <p class="titulo-banner">{{ slides[currentIndex].titulo }}</p>
          <p class="texto">{{ slides[currentIndex].texto }}</p>
        </div>
        <div class="caixa-comprar">
          <button class="texto-comprar">Comprar</button>
        </div>
      </div>

      <!-- Setas -->
      <button class="arrow left-arrow" (click)="prevSlide()">&#10094;</button>
      <button class="arrow right-arrow" (click)="nextSlide()">&#10095;</button>

      <!-- Indicadores -->
      <div class="indicators">
        <span *ngFor="let slide of slides; let i = index" 
              class="indicator" 
              [class.active]="i === currentIndex" 
              (click)="goToSlide(i)"></span>
      </div>
    </div>
  </div>
</header>